# 忽略node_modules文件夹
/node_modules
# 忽略版本控制文件
package-lock.json
# 忽略打包之后的文件
dist/
# 忽略vscode配置
.vscode/
# 忽略运行时输出文件
run/
# 忽略yarn-error.log
yarn-error.log

# 忽略client下的一些文件
client/node_modules
client/dist