.sun-tip{
    margin-top: 9px;
    font-size: 12px;
    color:  #606266;
}
.up-load-dragger{
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .up-load-icon{
        font-size: 80px;
        color: #c0c4cc;
        margin: 40px 0 16px;
        line-height: 50px;
    }
    .up-load-text{
        color: #606266;
        font-size: 14px;
        text-align: center;
    }
    .up-load-em{
        color: $primary;
    }
    &:hover{
        border-color: $primary;
    }
    &:focus{
        border-color: $primary;
    }
}
ul.sun-up-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sun-up-list_item{
    transition: all .5s cubic-bezier(.55,0,.1,1);
    font-size: 14px;
    color: #606266;
    line-height: 1.8;
    margin-top: 5px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    &:first-child{
        margin-top: 10px;
    }
    &:hover{
        background-color: #f5f7fa;
    }
}
.sun-upload-list__item-name{
    color: #606266;
    display: block;
    margin-right: 40px;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    transition: color .3s;
    white-space: nowrap;
    i{
        height: 100%;
        margin-right: 7px;
        color: #909399;
        line-height: inherit;
    }
    &:hover{
        color: $primary !important;
        cursor: pointer;
    }
}
.sun-upload-list__item-status{
    position: absolute;
    right: 5px;
    top: 0;
    line-height: inherit;
    color: $success;
}