<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <!-- 样式挂载点占位符 -->
    {% if prod %}
        {{ loadCss('css/vendors.css') }}
    {% endif %}
    {% block style %}
    {% endblock %}
    <title>{{ getTitle() }}</title>
</head>
<body>
    {# body占位符 #}
    <!-- 单页挂载点占位符 -->
    {% block body %}
        <div id="app"></div>
    {% endblock %}
    <!-- 全局对象占位符 -->
    {% block global_script %}
        <script>
            window._global={{ _global }};
        </script>
    {% endblock %}
    <!-- 页尾脚本占位符 -->
    {{ loadJs('js/vendors.js') }}
    {% block page_script %}
    {% endblock %}
</body>
</html>